@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
}

.app ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.app li {
  display: inline-block;
  width: 150px;
  height: 60px;
  text-align: center;
}

.app li:hover {
  background-color: #e8a331;
}

.app a {
  text-decoration: none;
  color: #424242;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 60px;
}
